html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Space Mono', monospace;
    color: #3B3A35;
    margin: 0;
    padding: 0;
}

.header-background {
    background: linear-gradient( 
    	rgba(0, 0, 0, 0.5), 
    	rgba(0, 0, 0, 0.5)), 
    	url(./images/headerBackground.jpg);
    
    background-size: cover;
    width: 100hh;
    height: 500px;
    position: inherit;
}
.header #header-name {
    font-weight: 400;
    font-size: 130px;
    color: white;
    margin: 0;
    position: absolute;
    top: 150px;
    left: 50%;
    white-space: nowrap;
    text-align: center;
    width: 5.3em;
    overflow: hidden;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -moz-transform: translate(-50%);
    
}
.header #secondary-text {
    font-weight: 300;
    font-style: italic;
    color: white;
    margin: auto;
    position: absolute;
    top: 320px;
    left: 50%;
    font-size: 150%;
    vertical-align: middle;
    white-space: nowrap;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -moz-transform: translate(-50%);
}
.header img#scrollBtn {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -moz-transform: translate(-50%);
}
.header ul#mobile-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    float: right;
    position: relative;
    z-index: 9999;
}
.header ul#mobile-nav li#icon img {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    left: 75%;
}
.header ul#mobile-nav ul#mobile-menu-items {
    list-style-type: none;
    visibility: hidden;
    padding-right: 15px;
}
.header ul#mobile-nav a {
    display: block;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: black;
    background: white;
    width: 100px;
    padding: 15px 15px 15px 15px;
    opacity: .9;
    border-bottom: 1px solid;
}
.header ul#mobile-nav a:hover {
    opacity: 1;
}

.header ul#normal-nav {
    margin: 0;
    padding: 0;
    display: block;
    background-color: transparent;
    height:80px;
    position: fixed;
    z-index: 999;
    width: 100%;
}
.header ul#normal-nav li {
    display: inline;
    float: right;
    margin: 10px;
    list-style-type: none;
}
/*Show Drop Down*/
.header ul#normal-nav li:hover > ul{
    display: block;
}
.header ul#normal-nav a {
    display: block;
    color: white;
    width: 100px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border: 2px solid white;
    transition: background-color .5s;
    -ms-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -webkit-transition: background-color .5s;
}
.header ul#normal-nav a:hover, .header ul#normal-nav a.normal-nav-active {
    color: #354458;
    background-color: white;
    transition: background-color .5s;
    -ms-transition: background-color .5s;/* IE 10 */    
    -moz-transition: background-color .5s;/* Firefox */
    -webkit-transition: background-color .5s;/*safari and chrome */
}

.header ul#normal-nav a#bao-tran{
    color: white;
    background: transparent;
    position: absolute;
    left: 5%;
    height: 0px;
    width: 200px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    border: none;
    padding: 0;
    margin: 0;
    opacity: 0;
}

/*DROP DOWN*/
.header ul#normal-nav ul {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
}
.header ul#normal-nav ul li {
    float: none;
    margin: 0;
}
.header ul#normal-nav ul a {
    color: lightgray;
    background-color: #3B3A35;
}
.header ul#normal-nav ul a:hover {
    color: #3B3A35;
    background-color: white;
}

/*Arrow Scroll Down*/
.header a#scroller {
    border-style: none;
    float: none;
    cursor: pointer;
}
.header a#scroller:hover {
    background-color: transparent;
    border-style: none;
    border-color: transparent;
}

a#demo-link {
    font-weight: 600;
    text-decoration: none;
    color: lightslategray;
    margin-left: 10%;
}
a#demo-link:hover {
    color: black;
}
.document h1 {
    text-align: center;
    font-size: 300%;
    font-weight: 600;
}
.document th {
    font-size: 165%;
    font-weight: 400;
}
.document p {
    font-size: 16px;
    font-family: 'Space Mono', monospace;
    line-height: 1.4;
    margin-left: 5%;
    margin-right: 5%;
}
.document hr {
    width: 50%;
    margin-bottom: 5%;
    margin-top: 5%;
    border-color: #3B3A35;
    border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
#underliner1, #underliner2, #underliner3, #underliner4 {
    position: relative;
    width: 50px;
    margin-top: -25px;
    margin-bottom: 50px;
}
table {
    width: 70%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}
input, textarea {
    font-family: inherit;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    outline: none;
    border: 1px solid lightgray;
    -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      -o-transition: all 0.30s ease-in-out;
}
textarea{
    width: 400px;
    height: 150px;
    font-size: 14px;
}
.mobile-msgBox{
    display:none;
}
input {
    width: 300px;
    height: 30px;
    margin-right: 20px;
    font-size: 14px;

}
input:focus, textarea:focus{
    box-shadow: 0 0 6px gray;
}

#mail-icon {
    cursor: pointer;
}

.button{
    font-family: inherit;
    font-size: 18px;
    padding: 5px;
    margin-top: 50px;
    color: white;
    outline: none;
    text-decoration: none;
    background-color: darkgray;
    box-shadow: 0px 4px gray;
    opacity: 1;
    border-color: transparent;
    width: 150px;
    height: 50px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    cursor: pointer;
}

.button:hover{
    opacity: .7;
}

.button:active{
    box-shadow: 0px 0px;
    position: relative;
    top: 4px;
}

.footer{
    background-color: #303030;
    height: 300px;
    width: auto;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
}

.quote{
    position: relative;
    font-size: 18px !important;
    color: white;
    text-align: center;
    top: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.quote-author{
    position: relative;
    top: 40%;
    font-size: 40px;
    color: white;
    text-align: right;
    right: 15%;
}

::-moz-selection {
    background-color: gray;
    color: #fff;
}
::selection {
    background-color: gray;
    color: #fff;
}
/*---- Responsiveness ----*/
/*SCREENS > 1440px*/
@media screen and (min-width: 1440px) {
    .header-background {
        height: 550px;
    }
    .header #header-name {
        font-size: 800%;
    }
    .header #secondary-text {
        font-size: 150%;
    }
    .document h1 {
        font-size: 260%;
    }
    .document p {
        font-size: 120%;
    }
    .document hr, table{
        width: 50%;
    }
    .footer{
        height: 400px;
    }
}
/*SCREENS < 1024px*/
@media screen and (max-width: 1300px) {
    .header-background {
        height: 450px;
    }
    .header #header-name {
        font-size: 650%;
    }
    .header #secondary-text {
        font-size: 120%;
    }
    .document h1 {
        font-size: 240%;
    }
    .document hr, table {
        width: 60%;
    }
}

@media screen and (max-width: 870px) {
    .header-background {
        background: transparent;
        height: 300px;
    }
    .header #header-name {
        font-size: 600%;
        color: black;
        top: 80px;
        left: 50%;
        font-weight: 600;
    }
    .header #secondary-text {
        font-size: 140%;
        color: black;
        font-weight: 400;
        top: 220px;
        left: 50%;
    }
    .header img#scrollBtn {
        display: none;
    }
    /*Navigation*/
    .header ul#normal-nav {
        display: none;
    }
    .header ul#mobile-nav {
        display: block;
    }
    .header ul#mobile-nav li#icon img {
        filter: contrast(0);
        -webkit-filter: contrast(0);
        -moz-filter: contrast(0);
        -ms-filter: contrast(0);
    }
    .header ul#mobile-nav a {
        background: black;
        color: white;
    }
    .document h1 {
        font-size: 20px;
    }
    .document p {
        font-size: 16px;
    }
    .document hr {
        width: 80%;
    }
    table {
        width: 80%;
    }
}
@media screen and (max-width: 605px) {
    p{
        line-height: 1.2;
        font-size: 14px;    
    }
    .input{
        width: 400px;
    }
    .msgBox{
        display:none;
    }
    .mobile-msgBox{
        display:inline;
        width: 300px;
    }
    .header #header-name {
        font-size: 450%;
        top: 100px;
        left: 50%;
        font-weight: 600;
    }
    .header #secondary-text {
        white-space: normal;
        top: 200px;
        width: 100%;
        text-align: center;
        left: 50%;
        top: 200px;
    }
    .footer{
        display: none;
    }

    .quote{
        top: 25%;
    }

    .quote-author{
        top: 25%;
    }

    a#demo-link {
        color: #1A5EB3;
    }
    table {
        width: 90%;
    }
    #underliner1, #underliner2, #underliner3, #underliner3 {
        display: none;
    }
}