@import url(http://fonts.googleapis.com/css?family=Oxygen|Open+Sans);

body{
	font-family:Open Sans;
}

.module {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(./images/imageHeader.jpg);
  background-size: cover;
  width: 100hh;
  height: 70vh;
  margin: -8px;
  position: relative;
}

.mid h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: white;
	margin: auto;
	position: absolute;
	top: 30%;
	left:50%;
	font-size: 600%;
	vertical-align: middle;
	transform:translate(-50%);
	-webkit-transform:translate(-50%);
	-ms-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-o-transform: translate(-50%);
}

.mid h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	color: white;
	margin: auto;
	position: absolute;
	top: 60%;
	left: 50%;
	font-size: 130%;
	vertical-align: middle;
	transform:translate(-50%);
	-webkit-transform:translate(-50%);
	-ms-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-o-transform: translate(-50%);
}

.mid img{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 90%;
	left: 50%;
	transform:translate(-50%);
	-webkit-transform:translate(-50%);
	-ms-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-o-transform: translate(-50%);
}

.mid a{
	color: #C5C5C5;
	width: 100px;
	float: right;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

.mid a:hover{
	color: white;
	background-color: #484848;
	border-style: solid;
	border-color: white;
	width: 93.5px;
}

.mid a#scroll:hover{
	background-color: transparent;
	border-style: none;
	border-color: transparent;
}

a#demo{
	text-decoration: none;
	color: #005C99;
}

a#demo:hover{
	color:#FF4719;
}

hr {
	width:50%;
	margin-bottom: 5%;
	margin-top: 5%;
}

table{
	width: 50%;
	text-align: center;
	border-collapse: collapse;
}

h4#experienceHeader{
	text-align: left;
	margin-left: 25%;
}

#listExperience{
	text-align: left;
	margin-left: 25%;
}

.document h1{
	text-align: center;
	font-size: 250%;
}

